extends ../profile_template

block content
    br
    .container
        .row
            .col
                img.img-circle(src='assets/css/images/overlay.png', alt='User Photo')
        .row
            .col
                h1.bold
                | Name: #{user.first_name} #{user.last_name}
                |
                br
                | Email: #{user.email}
                br
                | Posts: #{user.posts.length} |  Followers: #{user.followers.length} | Following: #{user.following.length}                
        hr
        br
        br
        form(method='POST', action='/post/add')
            #form-group
                label.text-center Whats On Your Mind
                textarea.form-control(name='body')
            br
            input.btn.btn-primary(type='submit', value='Submit')
        br
        br
        br
        hr
        ul.list-group
            each activity, i in activities
                li.list-group-item.card
                    h4 User: #{activity.object.user.username}
                    p  #{activity.object.body}
                    each comment, i in activity.object.comments
                        li.list-group-item
                            h4 #{comment.commenterName}
                            |
                            |   #{comment.body}
                            form(method='POST', action='/comment/add/'+ activity.object._id)
                                #form-group
                                    label.text-center Comment
                                    textarea.form-control(name='body')
                                br
                                input.btn.btn-primary(type='submit', value='Submit')
                            br
                

        
