extends ../../template1



block content

    section#banner-dark
        h2 Fund Filings
        hr
    section#main.container
        each feed, i in feeds     
            - for (var j = 0; j < feed.items.length-1; j = j+2)
                .row
                    .6u.col-md-6(class='12u(narrower)')
                        section.box.special.text-dark
                            strong.text-primary.float-left #{feed.title}
                            hr
                            h3 #{feed.items[j].title}
                            br
                            p.text-dark
                                | #{feed.items[j].content}
                            a.text-dark(href=feed.items[j].link) Learn More
                    .6u.col-md-6(class='12u(narrower)')
                        section.box.special.text-dark
                            strong.text-primary.float-left #{feed.title}
                            hr
                            h3 #{feed.items[j+1].title}
                            br
                            p.text-dark
                                | #{feed.items[j+1].content}
                            a.text-dark(href=feed.items[j+1].link) Learn More